@keyframes fadeIn {
  0% {opacity: .1}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: .1}
  100% {opacity: 1}
}

@keyframes toColor {
  0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

.fadeIn {
  -webkit-animation: .6s fadeIn;
  animation: .6s fadeIn;
}

.fadeIn-desaturate {
  -webkit-animation: .4s fadeIn;
  animation: .4s fadeIn, toColor 1s;
}
